# Скрываем файл с секретными токенами
.env

# Скрываем базу данных пользователей (чтобы не затереть чужие данные)
users.json

# Виртуальное окружение (если создавала)
venv/
.venv/

# Кэш Python и служебные папки VS Code
__pycache__/
*.pyc
.vscode/